{% extends "base.html" %} {% load static %} {% block body %} {% block advo_profile %} {% load social_share %}
<link rel="stylesheet" href="{% static '/css/rating.css' %}">
<style>
    /* body {
        background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
        background-image: linear-gradient(to right, #fff1eb 0%, #ace0f9 100%);
    } */
    /* .answer-btn:focus
    {
        background-color: #ace0f9;
    } */
    
    .fa-facebook {
        background: #3B5998;
        color: white;
    }
    
    @media screen and (max-width: 600px) {
        /* div.example { 
                    font-size: 10px; 
                }  */
        .text {
            font-size: 26px;
            font-family: monospace;
            color: aqua;
        }
        .view-profile {
            font-size: 11px;
        }
        .profile-text {
            font-size: 12px;
        }
        .img-center {
            text-align: center !important;
        }
    }
    
    @media screen and (min-width: 600px) {
        /* div.example { 
                    font-size: 10px; 
                }  */
        .text {
            font-size: 24px;
        }
        .view-profile {
            font-size: 13px;
        }
    }
</style>


{% endblock advo_profile %}

<head>
    <title> Advocate Profile
    </title>
    <link rel="icon" href=" {% static 'images/logo4.jpeg' %}" type="image/x-icon">

</head>

<body>

    <link rel="icon " href=" {{advocate.image.url}} " type="image/x-icon ">

    <div class="container w-100 mt-5 ">
        <div class="row bg-light ">


            <div class="col-sm-2 col-lg-2 col-md-2 ">
                <p class="img-center "> <img class=" border bg-dark img-center " src=" {{advocate.image.url}} " alt=" " style="border-radius: 50%; width: 120px; height: 120px; "></p>

                <div>
                    <span>{% post_to_facebook object_or_url "Share to Facebook " %}</span>
                    <span>{% post_to_whatsapp object_or_url "Share to Whatsapp " %}</span>
                    <span> {% post_to_linkedin object_or_url "Share to Linkedin" %}</span>
                    <span> {% post_to_telegram object_or_url "Share to Telegram" %}</span>

                </div>

            </div>
            <div class="col-sm-9 col-lg-9 mt-2 col-md-9 ">
                <center>
                    <div class="row ">
                        <div class="col ">
                            <h5 class="text ">
                                {{advocate.name}}
                            </h5>
                        </div>
                    </div>

                    <div class="row mt-2 ">
                        <div class="col ">
                            <i class="text-info "> {{advocate.profile.address}} </i>
                        </div>

                    </div>
                </center>
                {% if request.user.is_authenticated %} {% if request.user != advocate %} {% if is_follow %}
                <p class="text-center float-right " style="font-size: 5; "><a class="btn btn-outline-primary " href="/unfollow/{{advocate.id}} ">unfollow</a> </p>

                {% else %}
                <p class="text-center float-right " style="font-size: 5; "><a class="btn btn-outline-primary " href="/follow/{{advocate.id}} ">follow</a> </p>
                {% endif %} {% endif %}{% if request.user.is_user %} {% if is_active == 0 %}
                <form method="POST" action="/activate-chat/{{advocate.id}}">
                    {% csrf_token %}
                    <button class="text-center float-left " style="font-size: 5; "><a class="btn btn-outline-danger " >Activate Chat</a> </button>

                </form>
                {% else %}
                <form action="/deactivate-chat/{{advocate.id}}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="text-center float-left " style="font-size: 5; "><a class="btn btn-outline-danger ">DeActivate Chat</a> </button>
                </form>

                {% endif %}{% endif %} {% endif %}


            </div>

        </div>
        <div class="row mt-3 p-0 ">

            <div class="col-sm-12 col-lg-4 ">

                <div class="container bg-white ">

                    <div class="row ">
                        <div class="col ">
                            <h5>Profile Activities</h5>
                            <p class="text-muted "> {{advocate.name}} Profile </p>
                        </div>
                    </div>
                    <div class="row ">

                        <div class="col border ">

                            <p class="text-center ">Experience</p>
                            <p class="text-center "> {{experience}}</p>

                        </div>
                        <div class="col border ">
                            <p class="text-center ">Answers</p>
                            <p class="text-center "> {{answer}}</p>

                        </div>
                        <div class="col border ">
                            <p class="text-center ">Rating</p>
                            <p class="text-center ">{{rate}}</p>
                        </div>
                        <div class="col border ">
                            <p class="text-center ">Followers</p>
                            <p class="text-center ">{{followers}}</p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-sm-12 col-lg-4 mt-2 ">

                <div class="container mb-2 ">
                    <div class="row ">
                        <div class="col bg-white ">

                            <div class="cotnainer p-0 ">
                                <div class=" ">
                                    <h5>Service Cities</h5>
                                    <small class="text-muted "> {{advocate.name}} Profile </small>
                                    <hr>
                                </div>
                            </div>
                            <div class="container p-0 ">

                                <div class="row mb-2 ">
                                    {% for i in city %}
                                    <div class=" view-profile border border-dark p-1 ml-2 mt-2 text-info text-muted ">
                                        {{i}}
                                    </div> {% endfor %}

                                </div>

                            </div>

                        </div>
                    </div>

                </div>


                <div class="container mb-2 ">
                    <div class="row mt-3 ">
                        <div class="col bg-white ">

                            <div class="cotnainer p-0 ">
                                <div class=" ">
                                    <h5>Area Of Law</h5>
                                    <small class="text-muted "> {{advocate.name}} Profile </small>
                                    <hr>
                                </div>
                            </div>
                            <div class="container p-0 mb-2 ">

                                <div class="row ">
                                    {% for i in law %}
                                    <div class=" view-profile border border-dark p-1 ml-2 mt-2 text-info text-muted ">
                                        {{i}}
                                    </div> {% endfor %}
                                </div>

                            </div>

                        </div>
                    </div>

                </div>

                <div class="container mb-2 ">
                    <div class="row mt-3 ">
                        <div class="col bg-white ">

                            <div class="cotnainer p-0 ">
                                <div class=" ">
                                    <h5>Visiting Courts</h5>
                                    <small class="text-muted "> {{advocate.name}} Profile </small>
                                    <hr>
                                </div>
                            </div>
                            <div class="container p-0 mb-2 ">

                                <div class="row ">
                                    {% for i in law %}
                                    <div class=" view-profile border border-dark p-1 ml-2 mt-2 text-info text-muted ">
                                        {{i}}
                                    </div> {% endfor %}
                                </div>

                            </div>

                        </div>
                    </div>

                </div>


            </div>
            <div class="col-sm-12 col-md-12 col-lg-4 mt-2 ">

                <div class="container bg-white p-1 ">
                    <h5>Academic Qualification</h5>
                    {{form.rate}}
                    <p class="text-muted "> {{advocate.name}} Profile </p>
                    <hr>
                    <div class="container mb-3 ">
                        {% for i in education %}
                        <p> <b class="text-primary ">{{  i.course_name }} </b> <i class="text-danger "> from </i> <b class="text-info ">{{i.college_name}} </b></p>{% endfor %}
                    </div>
                </div>
                {% if user.is_user %}
                <div class="container mt-4 bg-white p-2 ">
                    <h4>Review</h4>
                    <hr>

                    <form class="rate-form" method="POST" id="my_form">
                        {% csrf_token %}

                        <button id='first' class="fa fa-star fa-2x my-btn "></button>
                        <button id='second' class="fa fa-star fa-2x my-btn "></button>
                        <button id='third' class="fa fa-star fa-2x my-btn "></button>
                        <button id='fourth' class="fa fa-star fa-2x my-btn "></button>
                        <button id='fifth' class="fa fa-star fa-2x my-btn "></button>

                        <div class="container mt-5 ">
                            <textarea name="post_review" id="post_review" cols="50" rows="4" class="mw-100"></textarea>
                        </div>
                        <input type="text" id="temp" name='temp' value=0 hidden='true'> {% if user.is_authenticated %}
                        <center>
                            <button type="submit" id='submitBtn' class="btn btn-outline-danger "> click</button>
                        </center>
                        {% else %}
                        <h5> please login
                            <h5>
                                {% endif %}


                    </form>
                </div>
                {% endif %}
            </div>


        </div>

    </div>
    </div>

    <script src="{% static '/js/rating.js' %} "></script>
</body>

{% endblock body %}