{% extends "base.html" %} {% load static %} {% block body %} {% block ask_quetions %}

<style>
    .modal-dialog {
        max-width: 700px;
        /* New width for default modal */
    }
    
    .form-control1 {
        width: 100%;
        background: transparent !important;
        border: none;
        border-bottom: 1px solid rgba(13, 221, 100, 0.33);
    }
</style>


{% endblock ask_quetions %}


<div class="modal fade  " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <h4 class="text-center">Ask Free Legal Query</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">

                <form action="">

                    <div class="container-fluid mb-5">


                        <div class="container-fluid mt-5 ">
                            {{form.title}}
                        </div>
                        <div class="container-fluid mt-4">
                            {{form.quetion_description}}
                        </div>

                        <div class="container mt-4">
                            {{form.area_of_law}}

                        </div>



                    </div>

                    <div class="container  ">
                        <p class="text-center">
                            <button type="submit " class="btn btn-outline-danger mr-4 border border-dark" data-dismiss="modal">Ask Now </button>
                            <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
                    </div>
                    </p>

                </form>
            </div>

        </div>
    </div>
</div>


<body>

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
  </button> {% endblock body %}
    <!-- Navbar -->