{% include "base.html" %}
<!DOCTYPE html>
<html>
{% load static %}

<head>
    <meta name="viewport" content="with=device-width, intial-scale=1.0">
    <title> Website Design </title>
    <link rel="stylesheet" href="{% static '/css/style.css' %} " />
    <link rel="preconnect " href="https://fonts.gstatic.com ">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,600;0,700;1,400&display=swap " rel="stylesheet ">
    <link rel="stylesheet " href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css ">


</head>

<body>

    <!-- <section class="sub-header">
        <nav>
            <a href="Index.html"><img src="images/justice.png"></a>
            <div class="nav-links" id="navlinks">
                <i class="fa fa-times" onclick="hideMenu()"></i>
                <ul>
                    <li><a href="/index">HOME</a></li>
                    <li><a href="/about">ABOUT</a></li>
                    <li>
                        <a href="/chat_users">Chat</a>
                    </li>
                    <li><a href="/contact">CONTACT</a></li>
                    <li>
                        <a data-toggle="modal" data-target="#askquerymodal">Ask Quetions</a>
                    </li>
                    {% if user.is_authenticated %}


                    <li>
                        <a href="/logout"> LogOut </a>
                    </li>
                    {% if user.is_advocate %}
                    <a href="/edit_profile/{{user.profile.id}}/" style="color: rgb(102, 255, 0);"> <img class="circular--square-base float-right " src="{{user.image.url}} " alt="Profile"> </a>
                    {% else %}

                    <a href="/edit_userprofile/{{user.userprofile.id}}/"> <img class="circular--square-base float-right " src=" {{user.image.url}} " alt=""> </a>

                    {% endif %} {% else %}
                    <li>
                        <a href="/login">Log In </a>
                    </li>
                    <li>
                        <a href="/main_signup"> Signup </a>
                    </li>
                    {% endif %}

                </ul>
            </div>
            <i class="fa fa-bars " onclick="showMenu()"></i>
        </nav>

    </section> -->

    <!------ contact us -------->

    <section class="Location ">

        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d224345.83923359806!2d77.0688982429035!3d28.52758200539174!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cfd5b347eb62d%3A0x52c2b7494e204dce!2sNew%20Delhi%2C%20Delhi!5e0!3m2!1sen!2sin!4v1621419868294!5m2!1sen!2sin "
            width="600 " height="450 " style="border:0; " allowfullscreen=" " loading="lazy "></iframe>
    </section>

    <section class="contact-us ">
        <form action=""></form>
        <div class="row ">
            <div class="contact-col ">
                <div>
                    <i class="fa fa-home "></i>
                    <span>
                        <h5>ABC Road, QWE Building</h5>
                        <p>New Delhi, Delhi, INDIA</p>
                    </span>
                </div>
                <div>
                    <i class="fa fa-phone "></i>
                    <span>
                        <h5>+91 0985643214</h5>
                        <p>Monday to Saturday, 10AM to 6PM</p>
                    </span>
                </div>
                <div>
                    <i class="fa fa-envelope-o "></i>
                    <span>
                        <h5>abc150@gmail.com</h5>
                        <p>Email us your query</p>
                    </span>
                </div>

            </div>
            <div class="contact-col ">

                <form action=" " method="POST">
                    {% csrf_token %}
                    <input type="text " id="name" placeholder="Enter your name " name='name' required>
                    <input type="email " placeholder="Enter Email Address " id="email" name='email' required>
                    <input type="text " id="mobile" placeholder="Enter your Mobile " name='mobile' minlength="10" required>
                    <textarea rows="8 " placeholder="Message " name='query' id="query" required></textarea>
                    <button type="submit " class="hero-btn red-btn ">Send Message</button>
                </form>
            </div>
        </div>
    </section>



    <!------- Footer ------->

    <section class="footer ">
        <h4 style="color: rgb(48, 16, 224);">Contact Us </h4>
        <!-- <div class="icons ">
            <i class="fa fa-facebook "></i>
            <i class="fa fa-twitter "></i>
            <i class="fa fa-instagram "></i>
            <i class="fa fa-linkedin "></i>
        </div> -->
    </section>


    <!------Javascript for Toggle Menu------>

    <script>
        var navlinks = document.getElementById("navlinks");

        function showMenu() {
            navlinks.style.right = "0 ";
        }

        function hideMenu() {
            navlinks.style.right = "-200px ";
        }
    </script>

</body>

</html>