{% extends "base.html" %} {% load static %} {% block body %} {% block profilecss %} {% endblock profilecss %}


<!-- Body Tag -->

<title>Sign Up</title>

<body class="bg-dark mh-100">

    <center>
        <div class=" container  position-relative mh-100" style="margin-top: 300px;">

            <div class="row justify-content-start">
                <div class="col-4">

                </div>
                <div class="col-lg-2 col-sm-12 d-inline-block mb-3 " style="align-items: center !important;">

                    <center> <img class=' d-info bg-dark mb-3' src="{% static '/images/advocatesign.png' %}" alt=""> </center>
                    <a class="btn btn-outline-info  mh-100" href="main_signup/advocate_signup" style="width: 100px;">Advocate</a>
                </div>

                <div class=" col-lg-2 col-sm-12 d-inline-block" style="align-items: center !important;">
                    <center> <img class=' d-info bg-dark mb-3 mw-100' src="{% static '/images/user_signup.png' %}" alt=""> </center>
                    <a class="btn btn-outline-info  mh-100" href="main_signup/user_signup " style="width: 100px;"> User</a>
                </div>
            </div>

        </div>

    </center>



</body>

<!-- second col -->



{% endblock body %}