{% extends "base.html" %} {% block body %} {% load static %} {% block profilecss %}
<link rel="stylesheet" href="{% static '/css/profile.css' %}">
<title>User Profile</title>
<style>
    .text-file {
        opacity: 0;
        height: 20px;
        position: absolute;
        background: red;
        cursor: pointer;
        z-index: 99999;
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
</style>

{% endblock profilecss %}

<body class="">


    <form action="" method='POST' enctype="multipart/form-data">
        {% csrf_token %}
        <div class=" mt-5" style="max-width: 100; padding-left: 50px; padding-right: 50px;">

            <div class="row ">

                <div class="col-12  col-sm-12  col-lg-4  mt-4 position-relative text-light">

                    <div class="container border mt-5 w-100 p-0 " style="height: 305px;">


                        <center>
                            {% if user.image %}
                            <img class=" border bg-dark " src="{{user.image.url}}" id='image_upload' alt="" style="border-radius: 50%; width: 200px; height: 200px;"> {% else %}
                            <img class=" border bg-dark " src=" " id='image_upload' alt="" style="border-radius: 50%; width: 200px; height: 200px;"> {% endif %}
                            <h4 class="mt-2"> {{user.name}}</h4>

                        </center>
                        <div class="container bg-dark">

                            <center>
                                {{form1.image}}
                                <div class="d-inline-block border overflow-hidden" style="border-radius: 50%; width: 50px; height: 50px;">

                                    <center>
                                        <i class="fas fa-plus text-info" style="margin-top: 15px;"> </i>
                                    </center>

                                </div>
                            </center>


                        </div>
                    </div>

                </div>

                <!-- second col -->

                <div class="col col-sm-12 col-lg-8 mt-4  back mw-100 position-relative bg-light ">

                    <!-- <form action="" , method="post"> -->

                    <div class="row position-relative p-0 ">
                        <div class="container  position-relative p-0">
                            <h4 class="font-weight-bold">Personal</h4>
                            <p class="ml-2"> Update Your Personal Information</p>
                            <hr>

                        </div>
                    </div>
                    <div class="row  ">
                        <div class="col-sm-12 col-lg-6 mb-4">



                            <div class=" col-sm-12 col-lg-4">
                                <label for="" class="mt-2"> Name</label>

                            </div>
                            <div class="col-sm-12 col-lg-8">
                                {{form1.name}}

                            </div>


                        </div>
                        <div class="col-sm-12 col-lg-6 mb-4">



                            <div class="col-sm-12 col-lg-3">
                                <label for="" class=""> Gender</label>
                            </div>
                            <div class="col-sm-12 col-lg-6">
                                <div class="row">


                                    {{form2.gender}}
                                </div>

                            </div>

                        </div>
                    </div>

                    <div class="row  ">
                        <div class="col-sm-12 col-lg-6 mb-4">

                            <div class=" col-sm-12 col-lg-4">
                                <label for="" class="mt-2"> Mobile</label>

                            </div>
                            <div class="col-sm-12 col-lg-8">
                                {{form1.mobile}}

                            </div>


                        </div>
                        <div class="col-sm-12 col-lg-6 mb-4">


                            <div class=" col-sm-12 col-lg-3">
                                <label for="" class="mt-2">
                                    Email </label>

                            </div>
                            <div class="col-sm-12 col-lg-9">
                                {{form1.email}}

                            </div>



                        </div>
                    </div>


                    <div class="row  ">
                        <div class="col-sm-12 col-lg-6 mb-4">

                            <div class="col-sm-12 col-lg-4">
                                <label for="" class=""> Dob</label>

                            </div>
                            <div class="col-sm-12 col-lg-8">

                                {{form2.dob}}
                            </div>


                        </div>
                        <div class="col-sm-12 col-lg-6 mb-4">

                            <div class="col-sm-12 col-lg-4">
                                <label for="" class=""> City</label>

                            </div>
                            <div class="col-sm-12 col-lg-8">

                                {{form1.city}}

                            </div>



                        </div>
                    </div>

                    <div class="row   ">
                        <div class="col-sm-12 col-lg-6  mb-4">

                            <div class="col-sm-12 col-lg-3 ">
                                <label for="" class=""> State</label>

                            </div>
                            <div class="col-sm-12 col-lg-9 ">

                                {{form2.state}}

                            </div>


                        </div>
                        <div class="col-sm-12 col-lg-6  mb-4">

                            <div class="col-sm-12 col-lg-4">
                                <label for="" class=""> Pincode</label>

                            </div>
                            <div class="col-sm-12 col-lg-8">

                                {{form2.pincode}}

                            </div>

                        </div>
                    </div>

                    <div class="row  ">

                        <div class="col-sm-12 col-lg-2">
                            <label for="" class=""> Address </label>

                        </div>
                        <div class="col-sm-12 col-lg-10">

                            {{form2.address}}

                        </div>

                    </div>
                    {{form1.errors}} {{form2.errors}}

                    <!-- Professional detail   -->
                    <center>
                        <button type="submit" class="btn btn-outline-info mt-4"> Save</button>

                    </center>

                </div>

            </div>


        </div>


    </form>

</body>

{% endblock body %}